body {
    font-family: 'Ubuntu', sans-serif; 
    margin: 0;
    padding: 0;
}
header {   
    background: #2E948A;
    width: 100%;
    height: 117px; 
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    color: rgba(253, 253, 253, 1);
    
}
#cabeçalho {
    display: flex;
    justify-content: space-around;
}
#logo {
    margin-left: 82px;
    margin-top:20px;
     
}
ul {
    margin-left: 1028px;
    margin-top: -50px;
    
}
li{ 
    font-weight: 700;
    font-size: 20px;
    line-height: 22.98px;
    list-style: none;
    display: inline;
    margin-right: 42px;
    cursor: pointer;

}
a {
    color: white;
    text-decoration: none;
}


.grid {
    display: grid;
    grid-template-columns: 28% 1fr;
    align-items: center;
    margin-left: 8%;
}
#poupar {
    padding: 4rem;
    padding-left: 55rem;
}
.titulo h2 {
    margin-top: -5%;
    color: #FF4081;
    font-size: 45px;
}
.titulo {
    margin-top: 10%;
    margin-left: -15%;
}
.titulo p {
    font-size: 20px;
}
h2 {
    color: #FF4081;
    font-size: 37px;
}

.grid1 {
    background:#F6F6F6 ;
    padding-left: 16%;  
}
.gridf {
    background:#F6F6F6 ;
    padding-left: 16%;
    padding-top: 7%;
    padding-bottom: 50px;
}
#textof {
    margin-top: 90px;
    padding: 50px;
    font-size: 20px;
    margin-top: -83px;
}
.conteudof {
    display: flex;
    
    margin-left: 11%;
}
.conteudo {
    display: flex;
    align-items: center;
    margin-left: 11%;
    
}
#texto {
    margin-top: 90px;
    padding: 50px;
    font-size: 20px;
}

#linha {
    border-bottom: 3px solid #C4C4C4 ;
    margin-left: -150%;
    margin-right: -14%;
    padding-bottom: 25%;
    
}
footer {
    padding-left: 17%;
    background-color: rgba(65, 148, 136, 1);
    padding-top: 50px;
    padding-bottom: 42px;
    display: grid;
}

#listafooter {
    margin-top: -100px; 
    
}
.footer {
    width: 10%;
    margin-left: -500px;
    display: block;
    margin-bottom: 10px;
    font-weight: 10;
    color: white;
}
.botão1 {
    background-color: rgba(65, 148, 136, 1);
    color: white;
    border-radius: 62px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border: 2px solid white ;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    width: 21%;
    margin-left: 900px;
    margin-top: -100px;
    display: block;

}
.botão2 {
    background-color: rgba(65, 148, 136, 1);
    color: white;
    border-radius: 62px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border: 2px solid white ;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    width: 21%;
    margin-left: 900px;
    display: block;

}
@media (max-width:900px){
    header {
    margin: auto;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    }
    #cabeçalho {
    text-align: center;
    padding-top: 10px;
    }
    
    #logo {
    margin-left: 10px;
    margin-top: 0px;
    }
        
    ul {
    margin-left: 25px;
    margin-top: 0px;
            
    }
    li{ 
    font-weight: 10px;
    font-size: 12px;
    margin-right: 42px;
    }
    .grid {
        margin-left: -10px;   
}
    #poupar {
    width: 250px;
    margin-bottom: -650px;
    padding-left: 0px;
    margin-left: 50px;
  }
  .titulo {
    margin-right: 20px;
  }
  .titulo h2 {
    font-size: 35px;
  }
  .titulo p {
    font-size: 15px;
  }
  
  .grid1 {
    margin-top: 350px;
    margin-bottom: -350px;
    
  }
  iframe {
    width: 250px;
    height: 250px;
    
  }
  .conteudo {
    display: block;
    padding: 55px;
    margin-left: -65px;
    
  }
  #texto {
    margin-left: -50px;
    padding-top: 150px;
    margin-top: -150px;
   
  }
  #texto h2 {
    font-size: 25px;
  }
  #linha {
    margin-bottom: 250px;
    margin-left: 1px;
   
  }
  
  .conteudof {
    display: block;
    padding: 55px;
    margin-left: -65px;
    padding-top: 350px;
     
    
  }
  #textof h2 {
    font-size: 25px;
  }
  
  #textof {
    margin-top: -50px;
    padding-left: 1px; 
  }
  footer {
    padding-top: 10px;
    padding-bottom: 0px;
    height: 100%;
    
}
#rodapé {
    width: 40%;
    margin-left:35px;
}
#listafooter {
    padding-top: 30%;
    margin-left: -95px;
}

.footer {
    width: 10%;
    margin-left: 50px;
    display: block;
    margin-bottom: 0px;
    font-weight: 10;
}
.botão1 {  
    border-radius: 62px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 10px;
    width: 41%;
    margin-left: 60px;
    margin-top: -80px;;
    
    display: block;
}
.botão2 {
    border-radius: 62px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 10px;
    width: 41%;
    margin-left: 60px;
    display: block;
} 

  
}
@media (min-width:431px) and (max-width:840px) {
    header {
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }
    #logo {
        margin-top: 10px;
    }
    
    ul {
        margin-left: 25px;
        margin-top: 5px;
        margin-bottom: 10px;
        
    }
    li{ 
        font-weight: 10px;
        font-size: 20px;
        margin-right: 42px;
    }
    .titulo h2 {
        font-size: 35px;
    }
    .titulo p {
        font-size: 22px;
    }
    #poupar {
        margin-left: 130px;
        width: 350px;
        margin-top: 35px;  
    }
      
      iframe {
        
        width: 550px;
        height: 350px;
        
      }
      .conteudo {
        display: block;
        padding: 55px;
        margin-left: -65px;
        margin-top: 250px;
      }
      #texto {
        margin-left: -50px;
        padding-top: 150px;
        margin-top: -150px;
       
      }
      p{
        font-size: 22px;
      }
       h2 {
        font-size: 30px;
      }
      #linha {
        margin-bottom: 250px;
        margin-left: -10px;
        margin-right: 25px;
      }
      
      .conteudof {
        display: block;
        padding: 55px;
        margin-left: -65px;
        padding-top: 350px;
      }
      #textof h2 {
        font-size: 25px;
      }
      
      #textof {
        margin-top: -50px;
        padding-left: 1px; 
      }

      footer {
        padding-top: 10px;
        padding-bottom: 0px; 
        padding-left: 25%; 
        
    }
    
    
    #listafooter {
        margin-top: -200px;
    }
    
    .footer {
        width: 10%;
        margin-left: 50px;
        display: block;
        margin-bottom: 5px;
        font-weight: 10;
        font-size: 20px;
    }
    
    .botão1 {
        border-radius: 62px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px; 
        font-weight: 400; 
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 300px;  
    }
    
    .botão2 {
        border-radius: 62px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 300px;  
    } 
}
